.test {
    position: sticky;
    background-color: red;
    height: 0px;
    float: right;
    top:0px;
}

.alerts {
    position: sticky;
    height: 0px;
    float: right;
    top:0px;
}

.alert {
    opacity: 70%;
    margin: 5px;
}