<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="My protofolio"
    />
    <script src="https://kit.fontawesome.com/124769e30d.js" crossorigin="anonymous"></script>
    <title>IAmFara</title>
  </head>
  <body>
     @RenderBody()
  </body>
</html>
