.about-me {
    display: inline-block;
}

.introduction-text {
    width: 75%;
    justify-self: right;
    text-align:justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

.skill-title {
    font-family:sans-serif;
    font-size: large;
    font-weight: bold;
}
.skill-description {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

@media screen and (max-width: 1300px) {
    .introduction-text {
        font-size: large;
    }
}

@media screen and (max-width: 1000px) {
    .introduction-text {
        font-size: medium;
    }
}

@media screen and (max-width: 700px) {
    .introduction-text {
        font-size: small;
    }
}

@media screen and (max-width: 400px) {
    .introduction-text {
        font-size: x-small;
    }
}