.about-me {
    display: flex;
    justify-content: center;
}

.introduction-text {
    width: 75%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}