
@using IAmFara.Core.Dynamic.Abstractions
@inject IEnumerable<INavBarItem> NavBarItems

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">IAmFara.Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                @foreach (var item in NavBarItems)
                {
                    if (item.Pages.Length == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page=@item.Pages[0].Route>@item.Pages[0].Name</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @item.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @foreach (var p in item.Pages)
                                {
                                    <a class="dropdown-item" asp-area="" asp-page=@p.Route>@p.Name</a>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>
