
@page
@using IAmFara.Core.DynamicAddin.Abstractions
@model IndexModel
@inject IEnumerable<IFeatureAddin> Addins
@{
    ViewData["Title"] = "Home page";
}

<div>
    <partial name=".\Shared\_Carousel.cshtml" />
</div>
