.face-icon {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.icon-txt {
    font-family:cursive;
    font-weight:bolder;
    font-size: small;
    margin-left: -30px;;
}

.app-nav-bar {
    border-bottom: solid;
}

.app-nav-list {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.app-nav-item {
    border-right: black;
    border-width: 2px;
    border: none;
    border-right: solid;
}

.app-nav-item a {
    text-decoration: none;
    color: gray;
}

.app-nav-item a:hover {
    color: black;
}

.app-nav-item.active a {
    color: black;
}

.app-nav-item.last {
    border-right: none;
}

@media screen and (min-width: 1300px) {
    .app-nav-list {
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        font-size: medium;
    }

    .app-nav-item {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 1299px) {
    .app-nav-list {
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        font-size: small;
    }

    .app-nav-item {
        border-right: black;
        border-width: 1px;
        border: none;
        border-right: solid;
    }
}

@media screen and (max-width: 500px){
    .face-icon {
        height: 3rem;
        width: 3rem;
    }
    
    .icon-txt {
        font-weight:bold;
        font-size: xx-small;
        margin-left: -25px;;
    }
}