@page
@model IAmFara.AnotherTest.Pages.IndexModel
@{
}

<div>
    <vc:alert model=@Model.CarouselDataModels.First() ></vc:alert>
    <vc:carousel slides=@Model.CarouselDataModels></vc:carousel>
</div>